* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-logo h1 {
  font-weight: normal;
}

.navbar {
  display: flex;
  padding: 50px;
  justify-content: space-between;
}

.site-logo {
  font-weight: 200;
  font-size: 30px;
}
.navbar-items {
  display: flex;
}

.navbar-items ul {
  display: flex;
  list-style-type: none;
}

.navbar-items ul li {
  padding-left: 10px;
}

.site-bio {
  text-align: center;
  font-size: 30px;
  word-break: break-all;
  height: 150px;
}

.projects-container {
  margin: 50px;
}

.projects {
  display: flex;
}

.projects-container h2 {
  font-weight: normal;
  margin-bottom: 10px;
}

.projects-container h3 {
  font-weight: normal;
}

.projects-container p {
  font-weight: normal;
  margin: 10px;
  color: #2a7afa;
}
.project {
  width: 250px;
  height: 250px;
  background: #fa5a2a;
  margin: 10px 100px 10px 0px;
}
