* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #32174a;
  color: #ffff;
}

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
  padding: 10px;
  height: 100vh;
}
.container p {
  color: #8f839a;
  font-size: 14px;
}

.container h3 {
  color: #ffff;
  font-size: 14px;
  font-weight: 500;
}

.navbar-logo p {
  font-size: 12px;
}
.navbar {
  display: flex;
  padding: 50px;
  justify-content: space-between;
}

.site-logo {
  font-weight: 200;
  font-size: 30px;
}
.navbar-items {
  display: flex;
}

.navbar-items a {
  text-decoration: none;
  color: #8f839a;
}

.navbar-items a:hover {
  color: #513d63;
}

.navbar-items ul {
  display: flex;
  list-style-type: none;
}

.navbar-items ul li {
  padding-left: 10px;
}

.name-title h2 {
  font-weight: 10;
}


.title p {
  color: #ffff;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.work-experience {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.item {
  display: flex;
  gap: 10px;
}

.item a {
  color: #ffff;
  text-decoration: none;
}

.item a:hover {
  color: #ffff;
  text-decoration: underline;
}

.date {
  width: 100px;
}
.footer {
  font-size: 15px;
  margin: 10px 10px;
}

.bar {
  background: #513d63;
  width: 90px;
  height: 3px;
}

 